In [3]:
import pandas as pd

# head of large data file
# original data file not included in github for size concerns, place in 'data' folder before running
data = pd.read_csv("../data/05_cleaned_database_2024-02-15.csv", encoding = "latin-1", nrows = 5)

data

,"ï»¿""database_id""",scientificName,family,subfamily,genus,subgenus,subspecies,species,specificEpithet,infraspecificEpithet,...,dataSource,Location,verbatim_scientificName,idContinuity,countryCO,country_suggested,countryCode,coordinates_transposed,iso_a3_eh,countryMatch
0,Dorey_data_109441,"Euryglossa tibialis Cardale, 1993",Colletidae,Euryglossinae,Euryglossa,NaN,NaN,Euryglossa tibialis,tibialis,NaN,...,ALA_Apiformes,NaN,NaN,True,Australia,Australia,AU,True,AUS,exact
1,Dorey_data_120067,"Euryglossa tibialis Cardale, 1993",Colletidae,Euryglossinae,Euryglossa,NaN,NaN,Euryglossa tibialis,tibialis,NaN,...,ALA_Apiformes,NaN,NaN,True,Australia,Australia,AU,True,AUS,exact
2,Dorey_data_111967,"Euryglossa tibialis Cardale, 1993",Colletidae,Euryglossinae,Euryglossa,NaN,NaN,Euryglossa tibialis,tibialis,NaN,...,ALA_Apiformes,NaN,NaN,True,Australia,Australia,AU,True,AUS,exact
3,Dorey_data_18105113,"Euryglossa tibialis Cardale, 1993",Colletidae,Euryglossinae,Euryglossa,NaN,NaN,Euryglossa tibialis,tibialis,NaN,...,ALA_Apiformes,NaN,NaN,False,Australia,Australia,AU,True,AUS,exact
4,Dorey_data_120502,"Euryglossa tibialis Cardale, 1993",Colletidae,Euryglossinae,Euryglossa,NaN,NaN,Euryglossa tibialis,tibialis,NaN,...,ALA_Apiformes,NaN,NaN,True,Australia,Australia,AU,True,AUS,exact

Reading full dataframe:

In [4]:
data_full = pd.read_csv("../data/05_cleaned_database_2024-02-15.csv", encoding = "latin-1")

C:\Users\blkbd\AppData\Local\Temp\ipykernel_2992\3937959357.py:1: DtypeWarning: Columns (6,10,11,13,14,15,16,17,18,19,20,23,24,25,26,28,29,30,31,32,33,34,35,36,37,38,40,46,47,48,49,50,51,52,53,58,59,61,62,63,64,65,67,68,69,70,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,89,91,92,94,95,96,98,99) have mixed types. Specify dtype option on import or set low_memory=False.
  data_full = pd.read_csv("../data/05_cleaned_database_2024-02-15.csv", encoding = "latin-1")

In [5]:
data_full.shape

(6785927, 103)

Pickle implementation for faster load time?

In [ ]:
# data_full.to_pickle("../data/cleaned_data_full.pkl")
# 30.3 seconds to save

# data_full = pd.read_pickle("../data/cleaned_data_full.pkl")
# 51.9 seconds to load

In [8]:
import json

columns = data.columns.tolist()

with open("../data/cleaned-data-column-names.txt", "w") as f:
    for i in range(len(columns)):
        f.write(columns[i] + "\n")